//  VARS COLORS

//  Primary

$darkblue-BG: hsl(233, 47%, 7%);
$darkblue-CBG: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

//  Neutral

$white: hsl(0, 0%, 100%);
$white-p: hsla(0, 0%, 100%, 0.75);
$white-statshead: hsla(0, 0%, 100%, 0.6);
